.main-section-wrap {
  padding-left: 52px;
  padding-right: 52px;
}
.main-section-type {
  margin-top: 71px;
  font-size: 14px;
  font-weight: bold;
  color: #2a394a;
}
.main-section-title {
  color: #2a394a;
  font-size: 53px;
  font-weight: bold;
  margin-top: 7px;
  word-spacing: 0px;
  line-height: 1.3;
}
.article-section-wrap {
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 94px;
  width: 1060px;
}
.article-section {
  float: left;
  border: 3px solid #2a394a;
  width: 480px;
  height: 412px;
  padding: 45px 50px;
  color: #2a394a;
}
.article-secton-icon {
  display: inline-block;
  font-size: 40px;
  vertical-align: top;
}
.article-section-info {
  display: inline-block;
  width: 312px;
  vertical-align: top;
  margin-left: 10px;
  margin-top: 8px;
}
.article-section-info-title {
  font-weight: bold;
  font-size: 25px;
}
.article-section-info-desc {
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
  line-height: 1.5;
}
.comment-section-wrap {
  padding-left: 52px;
  padding-right: 85px;
  margin-top: 76px;
}
.comment-section {
  display: inline-block;
  color: #2a394a;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.5;
  vertical-align: top;
}
.comment-section-cc {
  float: right;
  font-size: 13px;
  color: #2a394a;
  letter-spacing: -1px;
}